/*
 h1 => Selector
color => property
red => value 
* => universal selector
. => Class selector
# => id selector
, => group selector
*/
/* CSS Comment */
/* * {
  margin: 0;
  color: chocolate;
  padding: 0;
}
h1 {
  /* color: red; /* Declaration */
/*  font-size: 60px;
}
p {
  font-size: 18px;
}
div {
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin-bottom: 5px;
}

div p {
  color: black; /*Nasted way*/
/* }
.text-bk {
  color: rebeccapurple;
  text-align: center;
  background-color: aqua;
  margin-bottom: 5px;
}
.box-div2 {
  background-color: brown;
  /* margin: 20px; */
/* }
.box-div2 p {
  color: blanchedalmond;
}
.box-div2 p {
  color: black;
}
#first-id,
#second-id,
.box-div2 {
  width: 400px;
} */

/*-------------CSS COLOR-----------*/
/* body {
  background: url(nature.jpg);
}
h1 {
  color: aqua;
  color: #000000;
  color: #0000ff;
  color: #00ff00;
  color: #ff0000;
  color: #ffffff;
  color: rgb(81, 144, 158);
  color: rgba(255,255,0,0.3);
} */
/*------CSS BACKGROUND-------*/
/* * {
  margin: 0;
}
body {
  background: url(nature.jpg);
  background-attachment: fixed;
}
div { */
/* background-color: rgba(56, 82, 56, 0.7);
  background-image: url(CSS3_logo.png);
  background-size: 150px 150px; */
/* background-repeat: repeat-x;
  background-repeat: repeat-y; */
/* background-repeat: no-repeat;
  background-position: center; */

/* Shorthand */
/* background: #f78fb3 url(CSS3_logo.png) 150px no-repeat center;
}
p,
h1 {
  color: antiquewhite;
} */
/* <!--CSS BORDER--> */
/* h1 {
  border-style: inset;
  border-width: 10px;
  border-color: aquamarine;

  border: 5px solid green;
  border-radius: 15px;

  border-left: 5px solid gray;
  border-top: 5px dotted rgb(42, 59, 17);
  border-right: 5px inset pink;
  border-bottom: 5px groove red;

  border-left-style: dotted;
  border-top-style: dashed;
  border-right-style: outset;
  border-bottom-style: ridge;
} */

/* Margin And Padiing */
/* * {
  margin: 0;
  padding: 0;
} */

/* .parent {
  background: rgb(77, 46, 104);
  color: azure;
  width: 380px;
  height: 303px;
  margin: 20px; */
/* margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px; */

/* padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px; */
/* padding: 20px; */
/* } */
/* .child {
  background: rgb(0, 225, 255);
  color: rgb(29, 42, 18); */

/* margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px; */
/* margin: 10px; */

/* padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px; */
/* padding: 30px; */
/* } */

/* CSS Height and Weight  */
* {
  margin: 0;
  padding: 0;
}
.parent {
  background: rgb(117, 69, 161);
  color: aliceblue;
  width: 700px;
}
