*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
.container {
  max-width: 450px;
  margin: 32px auto;
  padding: 8px;
}
img {
  width: 100px;
  float: left;
}
h2 {
  font-weight: bold;
}
main {
  background-color: skyblue;
  padding: 8px;
  border: 1px solid #666;
}
section:first-of-type {
  background-color: palevioletred;
  padding: 8px;
  border: 1px solid #666;
  width: 50%;
  float: left;
}
section:last-of-type {
  background-color: seagreen;
  padding: 8px;
  border: 1px solid #666;
}
/* float */
.float {
  margin: 16px 0 32px;
  overflow: auto;
}
.float section:first-of-type {
  width: 50%;
  float: left;
}
.float section:last-of-type {
  width: 50%;
  float: right;
}
/* .float main {
  overflow: auto;
} */
/* flex */
.flexbox {
  margin: 16px 0 32px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.flexbox main {
  flex-basis: 100%;
}
.flexbox section {
  flex-basis: 50%;
  flex-grow: 1;
}
