* {
  margin-block-end: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/* #test {
  background-color: palegreen;
  width: calc(100% - 200px);
  margin: 0 auto;
} */
#test {
  background-color: palegreen;
  width: max(70%, 700px);
  margin: 0 auto;
}
#test1 {
  background-color: purple;
  margin: 0px auto;
  width: min(70%, 700px);
}
