* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
#header_area {
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid gray;
}
/* Main menu style */
#navigation-menu {
  padding: 10px 0;
  border-bottom: 2px solid gray;
}
#navigation-menu ul {
  list-style-position: inside;
  list-style-type: none;
  text-align: center;
}
#navigation-menu ul li {
  display: inline-block;
  padding: 0 8px;
}
#navigation-menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}
#navigation-menu ul li a:hover {
  color: #0387e5;
}
/* ---------content-style------- */
#content {
  width: 1140px;
  margin: 10px auto;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  overflow: hidden;
}
#main_content {
  border-right: 1px solid gray;
  float: left;
  width: 70%;
  padding: 10px 2%;
}
.child_content {
  padding: 10px 1%;
  margin-right: 1%;
  width: 30%;
  float: left;
  height: 250px;
}
.child_content:first-child {
  padding: 10px 1%;
  margin-right: 1%;
  width: 63%;
  float: left;
}
.child_content:first-child img {
  display: block;
  float: right;
  margin-left: 15px;
}
.child_content img {
  max-width: 100%;
  display: none;
}
.child_content h2 {
  margin: 0 0 5px;
  font-size: 20px;
}
.child_content h2 a {
  color: black;
  text-decoration: none;
}
.child_content p {
  max-width: 100%;
}

/* main_sidebar */
#main_sidebar {
  width: 21%;
  float: right;
  padding: 10px 2%;
}
.child_sidebar {
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
}
.child_sidebar:last-child {
  margin-bottom: 0px;
  border-bottom: 0px solid;
}
.child_sidebar img {
  max-width: 100%;
}
.child_sidebar h3 {
  margin: 0 0 5px;
  font-size: 18px;
}
.child_sidebar h3 a {
  color: black;
  text-decoration: none;
}
/* -------------footer----------- */
#footer_area {
  padding: 15px 0;
  text-align: center;
}
