* {
  padding: 0;
  margin: 0;
}
h1 {
  color: antiquewhite;
  background: grey;
  text-align: center;
}
p {
  margin-bottom: 20px;
}
/* Text Align Last */
.para-one {
  text-align: center;
  text-align-last: left;
}
/* Text Align  */
.para-two {
  text-align: center;
  margin-top: 20px;
}
/* Direction */
.para-three {
  direction: rtl;
  unicode-bidi: isolate-override;
}
/* Vartical Align */
.baseline {
  vertical-align: baseline;
}
.text_top {
  vertical-align: text-top;
}
.text_bottom {
  vertical-align: bottom;
}

.sup {
  vertical-align: super;
}
.sub {
  vertical-align: sub;
}
a {
  /* text-decoration: none;
  text-decoration: overline;
  text-decoration: line-through;
  text-decoration: underline; */
  text-decoration: overline underline line-through;
}
h2 {
  text-transform: capitalize;
  /* text-transform: uppercase;
  text-transform: lowercase; */
  letter-spacing: -1px;
}
p {
  text-indent: 100px;
  font-size: 20px;
  line-height: 20px;
}
.header {
  font-size: 30px;
  text-shadow: 1px 1px 10px goldenrod;
}
.text-design {
  font-size: 25px;
  text-indent: 150px;
  letter-spacing: -1px;
  word-spacing: 3px;
  line-height: 22px;
  /* white-space: break-spaces; */
}
