* {
  margin: 0;
  padding: 0;
}
.parent {
  background: rgb(117, 69, 161);
  color: aliceblue;
  width: 92%;
  padding: 2%;
  margin: 20px auto;
  /* max-width: 1140px; */
  /* min-width: 600px; */

  height: 300px;
}
